<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kennethflores.ec_327_androidapp_updated">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/theme_bac">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".yesActivity"
            android:label="@string/title_activity_yes"
            android:theme="@style/theme_bac3" />
        <activity
            android:name=".noActivity"
            android:label="@string/title_activity_no"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".weightActivity"
            android:label="@string/title_activity_weight"
            android:theme="@style/theme_bac3" />
        <activity
            android:name=".drinksActivity"
            android:label="@string/title_activity_drinks"
            android:theme="@style/theme_bac3" />
        <activity
            android:name=".timeActivity"
            android:label="@string/title_activity_time"
            android:theme="@style/theme_bac2" />
        <activity
            android:name=".bacActivity"
            android:label="BAC Trak"
            android:theme="@style/theme_bac2" />
        <activity
            android:name=".appInfoActivity"
            android:label="BAC Trak"
            android:theme="@style/theme_bac2"/>


    </application>

</manifest>